<form method="POST" action="/task-manager/task/{{_id}}?_method=DELETE"
        enctype="application/x-www-form-urlencoded">
         <input type="hidden" name="_method" value="DELETE">
         <button type="submit">Delete</button>
</form>